@import url(//db.onlinewebfonts.com/c/a57898f1c888d0b61730477a1c77974a?family=Decima+Mono+Pro);


*{  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:"Decima Mono Pro";
}

navbar{
    display:flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
}

#navlist a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;


}

#navlist a:hover{
    color: grey;
}

#line-1{
    font-size: 25px;
    color: grey;
}

#globe{
    position: relative;
    right: 10px;
    top: 2px;
}


/* navbar end */


/*section start*/
section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
}

.sec-image{
    margin-top: -48px;
}





.slanted-button{
   background-color:white;
   color: black;
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: bold;
   padding-top: 15px;
   margin-top: 0px;
   transform: skewX(-20deg);
    width: 135px;
    height: 50px;
    position: relative;
    bottom: 80px;
    left: 43%;
    cursor: pointer;

}

.slanted-button:hover{
    background-color: #e60010;
    
}

.slanted-button:hover span{
    color: white;
}

#button-ele{
    margin-left: 15px;
    color: #e60010 ;
    font-weight: bolder;
}



section img{
    width: 100%;
    margin-top: -6px;
    
}

#sec-head-image{
    width: 15%;
    
}

.slant{
    color: red;
    font-size: 45px;
    position: relative;
    top: -5px;
}

#sec-text1{
    position: relative;
    top:-450px;
    left: 40%;
}

.sec-p{
    color: white;
    line-height: 30px;
    letter-spacing:2px;
    font-family: var(--fontf-s);
}

#sec-p1{
    position: relative;
    left: 38%;
    bottom: 400px;
}
    

#wimg1{
    width: 185px;
    height: 125px;
    
}

#wrc,#wec{
    position: relative;
    left: 2px;
    bottom: -10px;

}



#wimg2{
    width: 185px;
    height: 130px;
}

.car-img{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 500px;
    left: 40px;

}


#lastimg{
    margin-top: -374px;
}


.sec-textbox{
    position: relative;
    bottom: 400px;
    left: 200px;
}


#sec-p2{
    position: relative;
    top: 25px;
    line-height: 30px;
}

#ostory{
    width: 180px;
    position: relative;
    left: 0px;
    bottom: -50px;

}


/*grid start*/

.grid-container{
    border: 3px solid black ;
    height: 1000px;
}

.card{
    border: 3px soild black;
    height: 300px;
    width: 33%;
    padding-top: 20px;
    padding-left: 20px;
}

.card-image{
    width: 400px;
    height: 250px;
}

.c-img{
    width: 100%;
    height: 100%;
}

.card-title{
    font-size: var(--card-title-font);
    line-height: 25px;
    margin-top: 10px;
}


/* grid end */


/*section end*/

/* footer start */

footer h6{

    font-family: var(--fontf-s);
    font-style: normal;
    font-size: var(--fonts-s);
    
}

footer p{
    font-size: 10px;
    font-style: italic ;
    font-weight: bold;
}

footer img{
    width: 40px;
}

.f-container2{
    display: flex;
    justify-content: left;
    gap: 100px;

}

.div-links label{
    position: relative;
    left: 2px;
    top: 2px;

}

/* footer end */
