@import url(//db.onlinewebfonts.com/c/2ae387e9fd826eca2b02f780e91333c7?family=Akkurat+Mono);


:root{
    --fonts-p:20px;
    --fonts-s:12px;
    --fontf-s:"Times New Roman";
    --card-title-font:15px;
    --card-p-font:13px;
    --card-hr: rgba(158, 152, 152,0.5);

}