@import url(//db.onlinewebfonts.com/c/2ae387e9fd826eca2b02f780e91333c7?family=Akkurat+Mono);


:root{
    --fonts-p:20px;
    --fonts-s:12px;
    --fontf-s:"Akkurat Mono Light";
    --card-title-font:15px;

}